<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>

<form method="post">

    <input type="email" name="email"  placeholder="email" required><br>
    <input type="password" name="password" placeholder="password" required><br>
    <input type="password" name="check" placeholder="reenter password" required><br>
    <input type="text" name="firstname" placeholder="first name" required><br>
    <input type="text" name="lastname" placeholder="last name" required><br>
    <input type="submit">

</form>
    <h2>{{.}}</h2>
    <h2><a href="/signup">signup</a></h2>
</body>
</html>