<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserOnly</title>
</head>
<body>
{{printf "Welocome %v, this is a space created for you." .User.FirstName}}
<h2>Go to the <a href="/"> homepage</a></h2>
<h2>{{.Flash}}</h2>

<br>

</body>
</html>